In [1]:
import pandas as pd
import numpy as np
import datetime

In [216]:
df = pd.read_csv('Data/sp500data.csv')
df.set_index(['Date', 'Time'], inplace=True)
tradingDay = df.loc['2001-01-01':'2001-12-31']
tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))
mu = tradingDay['Log return'].mean()
std = tradingDay['Log return'].std()
#tradingDay['Log return'] = (tradingDay['Log return']-mu)/std  # Standardization


tradingDay.to_csv('Data/sp500LogReturn.csv')

C:\Users\Eakka\AppData\Local\Temp/ipykernel_9108/324050004.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))

In [217]:
df.drop(['Open', 'High', 'Low'], inplace=True, axis=1)

In [218]:
type(df.loc['1985-01-02', :])

pandas.core.frame.DataFrame

In [219]:
df3 = pd.DataFrame({'Close': [99]})
df.loc['1985-01-02'] = pd.concat([df.loc['1985-01-02'], df3], ignore_index = True, axis = 0)
df.loc['1985-01-02']

          Close
Time
09:02:00    NaN
09:03:00    NaN
09:04:00    NaN
09:05:00    NaN
09:06:00    NaN
...         ...
14:59:00    NaN
15:00:00    NaN
15:01:00    NaN
15:02:00    NaN
15:03:00    NaN

[287 rows x 1 columns]

In [1]:
df

NameError: name 'df' is not defined