In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Data/sp500_MinLogReturn.csv')

In [3]:
df

,Date,08:31:00,08:32:00,08:33:00,08:34:00,08:35:00,08:36:00,08:37:00,08:38:00,08:39:00,...,15:12:00,15:13:00,15:14:00,15:15:00,15:16:00,15:17:00,15:18:00,15:19:00,15:20:00,15:21:00
0,2011-11-07,1251.93,1252.49,1253.93,1252.85,1254.22,1254.93,1256.06,1256.10,1255.84,...,1261.12,1261.12,1261.12,1261.12,1261.12,1261.12,1261.12,1261.12,1261.12,1261.12
1,2011-11-08,1266.27,1265.97,1266.05,1266.88,1266.97,1265.50,1265.41,1265.05,1264.60,...,1275.92,1275.92,1275.92,1275.92,1275.92,1275.92,1275.92,1275.92,1275.92,1275.92
2,2011-11-09,1259.73,1253.37,1249.97,1246.95,1248.12,1247.81,1248.60,1247.97,1247.35,...,1229.10,1229.10,1229.10,1229.10,1229.10,1229.10,1229.10,1229.10,1229.10,1229.10
3,2011-11-10,1238.95,1241.79,1244.83,1245.10,1243.62,1242.53,1242.19,1242.01,1241.61,...,1239.70,1239.70,1239.70,1239.70,1239.70,1239.70,1239.70,1239.70,1239.70,1239.70
4,2011-11-11,1250.69,1254.77,1256.84,1256.86,1255.45,1255.97,1256.07,1255.87,1256.34,...,1263.85,1263.85,1263.85,1263.85,1263.85,1263.85,1263.85,1263.85,1263.85,1263.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2501,2021-11-24,4666.99,4666.24,4663.66,4662.87,4666.46,4669.62,4674.26,4673.42,4671.19,...,4701.46,4701.46,4701.46,4701.46,4701.46,4701.46,4701.46,4701.46,4701.46,4701.46
2502,2021-11-29,4653.46,4651.75,4646.27,4644.88,4644.38,4643.22,4642.10,4641.72,4642.59,...,4655.27,4655.27,4655.27,4655.27,4655.27,4655.27,4655.27,4655.27,4655.27,4655.27
2503,2021-11-30,4624.60,4624.62,4632.30,4631.97,4631.08,4626.96,4620.25,4619.64,4619.57,...,4567.00,4567.00,4567.00,4567.00,4567.00,4567.00,4567.00,4567.00,4567.00,4567.00
2504,2021-12-01,4619.66,4615.80,4614.62,4614.70,4612.27,4612.07,4613.03,4611.83,4613.22,...,4513.04,4513.04,4513.04,4513.04,4513.04,4513.04,4513.04,4513.04,4513.04,4513.04
2505,2021-12-02,4519.69,4517.28,4519.89,4517.11,4511.70,4518.98,4529.17,4535.52,4538.23,...,4577.10,4577.10,4577.10,4577.10,4577.10,4577.10,4577.10,4577.10,4577.10,4577.10

In [4]:
df = df.drop('Date', axis=1)

In [5]:
df = df.to_numpy()

In [6]:
df.shape

(2506, 411)

In [7]:
def logR(arr):
    logR = np.zeros([2506,411])
    for i in range(1, 411):
        logR[:, i] = np.log(arr[:, i]/arr[:, i-1])
    return logR

In [8]:
logR = logR(df)

In [15]:
logR.shape

(2506, 410)

In [13]:
logR = logR[:,1:]

In [16]:
logR = logR.reshape(1027460, 1)

In [17]:
pd.DataFrame(logR).to_csv('intra D log return.csv', header=None, index=None)

array([[ 4.47209341e-04,  1.14904937e-03, -8.61663223e-04, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-2.36944367e-04,  6.31906541e-05,  6.55367523e-04, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-5.06148866e-03, -2.71637260e-03, -2.41898136e-03, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 4.32468900e-06,  1.65929959e-03, -7.12414470e-05, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-8.35908601e-04, -2.55676341e-04,  1.73360551e-05, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-5.33364625e-04,  5.77614468e-04, -6.15248443e-04, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00]])