In [23]:
import matplotlib.pyplot as plt
from scipy.stats import norm
import numpy as np
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('Data/sp500data.csv')
df.set_index(['Date', 'Time'], inplace=True)
tradingDay = df.loc['2010-01-02':'2014-12-31']
tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))
mu = tradingDay['Log return'].mean()
std = tradingDay['Log return'].std()
tradingDay['Log return'] = (tradingDay['Log return']-mu)/std  # Standardization

/Users/eakkarat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/eakkarat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [11]:
type(tradingDay.shape[0])

int

In [3]:
tradingDay.loc['2010-01-04':'2010-01-08']

                        Open     High      Low    Close  Log return
Date       Time
2010-01-04 08:31:00  1116.56  1122.15  1116.56  1122.15         NaN
           08:32:00  1122.65  1123.80  1122.65  1123.80    3.544494
           08:33:00  1123.96  1124.23  1123.95  1124.23    0.920723
           08:34:00  1124.27  1124.27  1124.05  1124.23   -0.002892
           08:35:00  1124.17  1124.29  1124.17  1124.26    0.061533
...                      ...      ...      ...      ...         ...
2010-01-08 14:56:00  1144.63  1144.71  1144.63  1144.66   -0.150532
           14:57:00  1144.61  1144.63  1144.61  1144.63   -0.066169
           14:58:00  1144.36  1144.44  1144.36  1144.44   -0.403684
           14:59:00  1144.52  1144.72  1144.52  1144.72    0.587726
           15:00:00  1144.68  1144.75  1144.68  1144.70   -0.045074

[1950 rows x 5 columns]

In [4]:
def tradingDay(startDate, stopDate):
    df = pd.read_csv('Data/sp500data.csv')
    df.set_index(['Date', 'Time'], inplace=True)
    trade = df.loc[startDate:stopDate, 'Close']
    return trade

In [11]:
trade = tradingDay('2000-01-04', '2000-01-08')

In [12]:
x = trade.loc['2000-01-04']

In [13]:
x

Time
08:31:00    1444.67
08:32:00    1442.71
08:33:00    1440.80
08:34:00    1439.82
08:35:00    1439.32
             ...
15:01:00    1399.02
15:02:00    1399.29
15:03:00    1399.35
15:04:00    1399.41
15:08:00    1399.37
Name: Close, Length: 395, dtype: float64

In [14]:
y =trade.loc['2000-01-05']
y

Time
08:32:00    1395.65
08:34:00    1397.28
08:35:00    1397.37
08:36:00    1397.83
08:37:00    1400.74
             ...
15:04:00    1402.46
15:05:00    1402.45
15:06:00    1402.46
15:07:00    1402.19
15:09:00    1402.13
Name: Close, Length: 396, dtype: float64

In [15]:
z =trade.loc['2000-01-07']
z

Time
08:31:00    1402.47
08:32:00    1402.99
08:33:00    1404.57
08:34:00    1405.32
08:35:00    1408.30
             ...
15:01:00    1440.82
15:02:00    1441.19
15:03:00    1441.37
15:04:00    1441.43
15:05:00    1441.39
Name: Close, Length: 395, dtype: float64

In [22]:
trade = trade.T

In [17]:
trade

Date        Time
2000-01-04  08:31:00    1444.67
            08:32:00    1442.71
            08:33:00    1440.80
            08:34:00    1439.82
            08:35:00    1439.32
                         ...
2000-01-07  15:01:00    1440.82
            15:02:00    1441.19
            15:03:00    1441.37
            15:04:00    1441.43
            15:05:00    1441.39
Name: Close, Length: 1582, dtype: float64

In [32]:
start_date = datetime.date(2020, 1, 1)
end_date = datetime.date(2020, 1, 4)
delta = datetime.timedelta(days=1)

In [62]:
df = pd.read_csv('Data/sp500data.csv')
df.set_index(['Date'], inplace=True)

In [63]:
df = df.T

In [64]:
df

Date,1985-01-02,1985-01-02,1985-01-02,1985-01-02,1985-01-02,1985-01-02,1985-01-02,1985-01-02,1985-01-02,1985-01-02,...,2021-12-02,2021-12-02,2021-12-02,2021-12-02,2021-12-02,2021-12-02,2021-12-02,2021-12-02,2021-12-02,2021-12-02
Time,09:02:00,09:03:00,09:04:00,09:05:00,09:06:00,09:07:00,09:08:00,09:09:00,09:10:00,09:11:00,...,15:12:00,15:13:00,15:14:00,15:15:00,15:16:00,15:17:00,15:18:00,15:19:00,15:20:00,15:21:00
Open,167.2,167.07,167.03,166.94,166.93,166.88,166.81,166.79,166.77,166.75,...,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1
High,167.2,167.07,167.03,166.94,166.93,166.88,166.81,166.79,166.77,166.75,...,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1
Low,167.13,167.07,167.03,166.94,166.93,166.88,166.81,166.79,166.77,166.75,...,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1
Close,167.13,167.07,167.03,166.94,166.93,166.88,166.81,166.79,166.77,166.75,...,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1,4577.1

In [54]:
df[['2000-01-04','2000-01-10']]

Date,2000-01-04,2000-01-04,2000-01-04,2000-01-04,2000-01-04,2000-01-04,2000-01-04,2000-01-04,2000-01-04,2000-01-04,...,2000-01-10,2000-01-10,2000-01-10,2000-01-10,2000-01-10,2000-01-10,2000-01-10,2000-01-10,2000-01-10,2000-01-10
Time,08:31:00,08:32:00,08:33:00,08:34:00,08:35:00,08:36:00,08:37:00,08:38:00,08:39:00,08:40:00,...,14:56:00,14:57:00,14:58:00,14:59:00,15:00:00,15:01:00,15:02:00,15:03:00,15:04:00,15:05:00
Open,1449.0,1443.95,1442.31,1440.25,1439.3,1439.41,1438.7,1438.4,1436.93,1434.6,...,1457.36,1456.77,1456.24,1455.75,1455.92,1456.4,1456.74,1457.44,1457.6,1457.59
High,1449.0,1443.95,1442.36,1440.25,1439.79,1439.41,1438.7,1438.83,1436.93,1434.6,...,1457.45,1456.77,1456.24,1455.9,1456.23,1456.66,1457.35,1457.56,1457.6,1457.59
Low,1444.67,1442.71,1440.8,1439.76,1439.3,1438.59,1438.02,1437.64,1435.19,1434.23,...,1457.26,1456.57,1455.84,1455.74,1455.92,1456.4,1456.74,1457.37,1457.6,1457.59
Close,1444.67,1442.71,1440.8,1439.82,1439.32,1438.88,1438.07,1437.64,1435.19,1434.23,...,1457.26,1456.57,1455.84,1455.9,1456.23,1456.66,1457.35,1457.56,1457.6,1457.59

In [70]:
df['']

KeyError: 5

In [61]:
df

Date
2000-01-04    1444.67
2000-01-04    1442.71
2000-01-04     1440.8
2000-01-04    1439.82
2000-01-04    1439.32
               ...
2000-01-07    1440.82
2000-01-07    1441.19
2000-01-07    1441.37
2000-01-07    1441.43
2000-01-07    1441.39
Name: Close, Length: 1582, dtype: object