In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sp500data.csv')

In [4]:
df

         Unnamed: 0        Date      Time     Open     High      Low    Close
0                 0  1985-01-02  09:02:00   167.20   167.20   167.13   167.13
1                 1  1985-01-02  09:03:00   167.07   167.07   167.07   167.07
2                 2  1985-01-02  09:04:00   167.03   167.03   167.03   167.03
3                 3  1985-01-02  09:05:00   166.94   166.94   166.94   166.94
4                 4  1985-01-02  09:06:00   166.93   166.93   166.93   166.93
...             ...         ...       ...      ...      ...      ...      ...
3637381     3637381  2021-12-02  15:17:00  4577.10  4577.10  4577.10  4577.10
3637382     3637382  2021-12-02  15:18:00  4577.10  4577.10  4577.10  4577.10
3637383     3637383  2021-12-02  15:19:00  4577.10  4577.10  4577.10  4577.10
3637384     3637384  2021-12-02  15:20:00  4577.10  4577.10  4577.10  4577.10
3637385     3637385  2021-12-02  15:21:00  4577.10  4577.10  4577.10  4577.10

[3637386 rows x 7 columns]