In [1]:
import matplotlib.pyplot as plt
from scipy.stats import norm
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('Data/sp500data.csv')
df.set_index(['Date', 'Time'], inplace=True)
tradingDay = df.loc['2010-01-02':'2014-12-31']
tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))
mu = tradingDay['Log return'].mean()
std = tradingDay['Log return'].std()
tradingDay['Log return'] = (tradingDay['Log return']-mu)/std  # Standardization

/Users/eakkarat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/eakkarat/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [10]:
tradingDay

                        Open     High      Low    Close  Log return
Date       Time
2010-01-04 08:31:00  1116.56  1122.15  1116.56  1122.15         NaN
           08:32:00  1122.65  1123.80  1122.65  1123.80    3.544494
           08:33:00  1123.96  1124.23  1123.95  1124.23    0.920723
           08:34:00  1124.27  1124.27  1124.05  1124.23   -0.002892
           08:35:00  1124.17  1124.29  1124.17  1124.26    0.061533
...                      ...      ...      ...      ...         ...
2014-12-31 15:17:00  2058.90  2058.90  2058.90  2058.90   -0.002892
           15:18:00  2058.90  2058.90  2058.90  2058.90   -0.002892
           15:19:00  2058.90  2058.90  2058.90  2058.90   -0.002892
           15:20:00  2058.90  2058.90  2058.90  2058.90   -0.002892
           15:21:00  2058.90  2058.90  2058.90  2058.90   -0.002892

[506663 rows x 5 columns]