In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Data/sp500data.csv')
df.set_index(['Date', 'Time'], inplace=True)
tradingDay = df.loc['2011-01-02':'2015-12-31']
tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))
mu = tradingDay['Log return'].mean()
std = tradingDay['Log return'].std()
tradingDay['Log return'] = (tradingDay['Log return']-mu)/std  # Standardization

C:\Users\Eakka\AppData\Local\Temp/ipykernel_22692/3794947596.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tradingDay['Log return'] = np.log(tradingDay['Close']/tradingDay['Close'].shift(1))
C:\Users\Eakka\AppData\Local\Temp/ipykernel_22692/3794947596.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tradingDay['Log return'] = (tradingDay['Log return']-mu)/std  # Standardization

In [4]:
tradingDay

                        Open     High      Low    Close  Log return
Date       Time
2011-01-03 08:31:00  1257.62  1264.77  1257.62  1264.77         NaN
           08:32:00  1266.23  1268.07  1266.23  1268.07    6.683284
           08:33:00  1268.17  1268.40  1268.17  1268.32    0.503376
           08:34:00  1268.18  1268.58  1268.18  1268.38    0.118966
           08:35:00  1268.16  1268.24  1268.08  1268.08   -0.609329
...                      ...      ...      ...      ...         ...
2015-12-31 15:17:00  2043.94  2043.94  2043.94  2043.94   -0.002407
           15:18:00  2043.94  2043.94  2043.94  2043.94   -0.002407
           15:19:00  2043.94  2043.94  2043.94  2043.94   -0.002407
           15:20:00  2043.94  2043.94  2043.94  2043.94   -0.002407
           15:21:00  2043.94  2043.94  2043.94  2043.94   -0.002407

[511729 rows x 5 columns]

In [5]:
tradingDay.to_csv('Data/sp500LogReturn.csv')